<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ChatCat - Rooms</title>
	<link rel="stylesheet" href="/css/roomsStyles.css">
	<script src="/js/jquery-2.1.4.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script>
		'use strict';
		$(() =>{
			//here /roomlist is not a route, its a socket namespace kind of pipe which carry all date from
			// chatroom
			let socket = io('<%= host %>' + '/roomlist');
			let newRoomInput = $('input[name="roomName"]');
			let renderChatRoom = chatroom =>{
				let roomList = $('#roomsListUL');
				let lstStr = "";
				for(let room of chatroom) {
					console.log(room);
					console.log(room.roomID)
					lstStr += `<a href="/chat/${room.roomID}"><li>${room.room}</li></a>`;
				}
				roomList.html('').append(lstStr);

			}
			
			socket.emit('getChatRoom');
			
			socket.on('chatRoomLst',(lst)=>{
				renderChatRoom(JSON.parse(lst));
			});
			$('#createBtn').on('click',()=>{
				if(newRoomInput.val()!=='')
				{
						socket.emit("createNewRoom",newRoomInput.val());
				}
			});
		});
	</script>
</head>
<body>
	<div class="container">
		<div class="titlePanel">
			<h1>ChatCAT | Select or Create a Chatroom</h1>
		</div>
		<div class="controls">
			<div class="userPicHolder"><img src="<%= user.profilePic %>" alt="<%= user.id %>"></div>
			<p class="userName"><%= user.fullName %></p>
			<a href="/logout" id="logOutBtn">Logout</a>
		</div>
		<div class="controls">
			<input type="text" name="roomName" placeholder="Create a new Chatroom">
			<a href="#" id="createBtn">Create</a>
		</div>
		<div class="roomsListDiv">
			<ul class="roomsList" id="roomsListUL">
			<!-- Loop list items here -->
				<a href="chatroom.htm"><li>World Cuisine</li></a>
				<a href="chatroom.htm"><li>Coffee and Conversations</li></a>
			<!-- Loop ends -->
			</ul>
		</div>
	</div>
</body>
</html>